<flynt-component name="FormContactForm7" class="componentSpacing" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
  <div class="container" data-flow="layout">
    {% if preContentHtml %}
      <div data-size="medium" data-align="center" data-text-align="center">
        {{ preContentHtml|e('wp_kses_post') }}
      </div>
    {% endif %}
    <div class="form {{- options.card ? ' boxBorder boxPadding ' }} {{- options.card and options.theme != 'dark' ? ' boxBorder' }}" data-size="wide" data-align="center" data-flow="layout" {{- options.card ? ' data-theme="reset"' }}>
      {% set form_shortcode = '[contact-form-7 id="' ~ formId ~ '"]' %}
      {{ form_shortcode|shortcodes }}
      {% if contentFooterHtml %}
        <div data-size="medium" data-align="center" data-text-align="center">
          {{ contentFooterHtml|e('wp_kses_post') }}
        </div>
      {% endif %}
    </div>
  </div>
</flynt-component>
